<!doctype html>
<html lang="en" class="p-0 m-0">
<head>
  {%- block head %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="og:title" content="Aris Chow">
    <meta name="og:url" content="https://arisc.how">
    <meta name="og:type" content="blog">
    <title>{% block title %}{{ site.title }}{% endblock %}</title>
    <link rel="stylesheet" href="static/output.css?v=2341">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i%7CKarla:400,400i,700,700i"
          rel="stylesheet">
  {%- endblock %}
</head>
<body class="flex box-border flex-col font-sans">
<div class="box-border flex md:flex-row flex-col h-auto md:min-h-screen">
  <div class="box-border flex-initial w-auto md:w-60 px-4 md:pb-16 bg-[#1d1d1d]">
    <div class="sticky top-16 flex flex-row md:flex-col box-border justify-start items-stretch overflow-hidden">
      <header class="flex flex-row md:flex-col items-center py-4 sm:p-6">
        <div class="px-2 md:px-0">
          <img
            class="rounded-full max-w-[100px] max-h-[100px] h-[50px] w-[50px] md:h-[100px] md:w-[100px]"
            src="https://en.gravatar.com/userimage/107347778/262e4cf9b534c3017d7faa0538120fa3.jpg?size=200"
            alt="Avatar">
        </div>
        <div class="overflow-hidden md:items-center box-border">
          <h1 class="py-2 text-white font-title text-2xl min-w-fit text-left md:text-center">{{ site.title }}</h1>
          <p class="text-white text-left font-sidebar text-sm max-h-24">
            {{ site.description }}
          </p>
        </div>
      </header>
      {% with menus=menus %}
        {% include "sidebar/navigation.html" %}
      {% endwith %}
      {% with social_links=social_links %}
        {% include "sidebar/social_links.html" %}
      {% endwith %}
    </div>
  </div>
  <div class="box-border flex flex-col px-[6vw] md:px-[6vw] lg:px-[12vw] py-[5vw] md:py-[2vw] lg:pt-[4vw]">
    <main class="grow box-border pb-[4vw] min-h-[36rem]">
      {% block main %}{% endblock %}
    </main>
    {% include "footer.html" %}
  </div>
</div>
</body>
</html>
