<footer
  class="px-2.5 flex flex-row justify-center items-center box-border h-[7.5%] text-[#666] text-xs text-center font-sidebar">
  <div class="px-0 md:px-6 py-4 uppercase border-t border-solid border-[#eee] h-full"><a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en" class="transition-[color] duration-300 ease hover:text-amber-300">CC BY-SA 4.0</a> &middot;
    Powered by <a href="https://github.com/arischow/arisc.how" target="_blank" rel="noopener"
                  class="transition-[color] duration-300 ease hover:text-amber-300">Gomashio</a> and ❤️
  </div>
</footer>
